<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>

<div id="app">
    <!--表单-->
    <el-form :inline="true" :model="each_page.brand" class="demo-form-inline">
        <el-form-item label="当前状态">
            <el-select v-model="each_page.brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
                <el-option label="全部状态" value="-1"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="each_page.brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="each_page.brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>
    <!--按钮-->
    <el-row>
        <el-button type="danger" plain @click="deletebyids">批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>
    </el-row>
    <!--添加数据对话框和表单-->
    <el-dialog
            title="编辑品牌"
            :visible.sync="dialogVisible"
            width="30%"
            >


        <el-form ref="form" :model="brand_for_insert" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand_for_insert.brandName"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <el-input v-model="brand_for_insert.companyName"></el-input>
            </el-form-item>
            <el-form-item label="排序">
                <el-input v-model="brand_for_insert.ordered"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand_for_insert.description"></el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-switch v-model="brand_for_insert.status"
                           active-value="1"
                           inactive-value="0"
                ></el-switch>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="addbrand">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>



    </el-dialog>
   <!--表格 -->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">

            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="brandName"
                    label="品牌名称"
                    align="center"
                   >
            </el-table-column>
            <el-table-column
                    prop="companyName"
                    label="企业名称"
                    align="center"
                    >
            </el-table-column>
            <el-table-column
                    prop="ordered"
                    align="center"
                    label="排序">

            </el-table-column>
            <el-table-column
                    prop="status"
                    label="当前状态"
                    align="center"
            >
            </el-table-column>

            <el-table-column
                    label="操作"
                    align="center">
                <template slot-scope="scope">
                    <el-row>
                        <el-button type="primary" @click="update_No1(scope.$index, scope.row)">修改</el-button>
                        <el-button type="danger" @click="deleteById(scope.$index, scope.row)">删除</el-button>
                    </el-row>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--    弹出修改对话框-->
    <el-dialog
            title="修改品牌"
            :visible.sync="dialogVisibleUpdate"
            width="30%">

        <el-form ref="form" :model="brand_for_update" label-width="80px">
            <el-form-item label="品牌名称">
                <el-input v-model="brand_for_update.brandName"></el-input>
            </el-form-item>

            <el-form-item label="企业名称">
                <el-input v-model="brand_for_update.companyName"></el-input>
            </el-form-item>

            <el-form-item label="排序">
                <el-input v-model="brand_for_update.ordered"></el-input>
            </el-form-item>

            <el-form-item label="备注">
                <el-input type="textarea" v-model="brand_for_update.description"></el-input>
            </el-form-item>

            <el-form-item label="状态">
                <el-switch v-model=" brand_for_update.status"
                           active-text="启用"
                           inactive-text="禁用"
                           active-value="1"
                           inactive-value="0">
                </el-switch>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="update_No2">提交</el-button>
                <el-button @click="dialogVisibleUpdate = false">取消</el-button>
            </el-form-item>
        </el-form>


    </el-dialog>

    <!--分页条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="each_page.currentPage"
            :page-sizes="[7,14,28,35]"
            :page-size="7"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>
<script src="../js/vue.js"></script>
<script src="../element-ui/lib/index.js"></script>
<link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
<script src="../js/axios-0.18.0.js"></script>
<script>
    new Vue({
        el:"#app",
        mounted(){
            this.selectAll();
        },

        methods: {
                deletebyids(){
                    //删除前判断
                    this.$confirm('此操作将永久删除选中数据, 是否继续?', '删除', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() =>{
                        //从this.multipleselection来遍历获取id放到ids
                        for(let i=0;i<this.multipleSelection.length;i++) {
                            let multipleSelectionElement = this.multipleSelection[i];
                            this.selectIds[i] = multipleSelectionElement.id;
                        }
                        //发送ajax请求
                        var _this=this;
                        axios({
                            method:"delete",
                            url:"http://localhost:9080/ssm_unit_war/brands/deletebyids",
                            data:_this.selectIds
                        }).then(function (resp){
                            if(resp.data.data===true){
                                //重新查询
                                _this.selectAll();
                                _this.$message({
                                    message: '恭喜你，删除成功',
                                    type: 'success'
                                });
                            }
                            else{
                                _this.$message({
                                    showClose: true,
                                    message: '删除失败，请检查删除信息',
                                    type: 'error'
                                });
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },

                selectAll(){
                    var _this=this;
                    var jsonData = JSON.stringify(_this.each_page);
                    console.log(jsonData);
                    axios({
                        method:"post",
                        url:"http://localhost:9080/ssm_unit_war/brands/getbrands",
                        data:_this.each_page
                    }).then(function (resp){
                        _this.tableData=resp.data.data.rows;
                        _this.totalCount=resp.data.data.totalcount;
                    })

                },
                tableRowClassName({row, rowIndex}) {
                    if (rowIndex === 1) {
                        return 'warning-row';
                    } else if (rowIndex === 3) {
                        return 'success-row';
                    }
                    return '';
                },
                //复选框选中后执行的方法
                handleSelectionChange(val) {
                    this.multipleSelection = val;
                },
                //查询方法
                onSubmit() {
                    this.selectAll();
                },
                //删除单一数据
                deleteById(index, row) {
                    // 删除前判断
                    this.$confirm('此操作将永久删除被选数据, 是否继续?', '删除', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios({
                            method: "delete",
                            url: "http://localhost:9080/ssm_unit_war/brands/"+row.id+"",
                            //data: row.id
                        }).then( resp => {
                            // 判断响应数据是否为 success
                            if (resp.data.data === true) {
                                this.selectAll();
                                this.$message({
                                    message: '恭喜你，删除成功',
                                    type: 'success'
                                });
                            }
                            else{
                                this.$message({
                                    showClose: true,
                                    message: '删除失败，请检查删除信息',
                                    type: 'error'
                                });
                            }
                        })

                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },

                //修改数据
                update_No1(index, row){
                    this.dialogVisibleUpdate = true;
                    this.brand_for_update = row;
                },
                update_No2(){
                    axios({
                        method: "put",
                        url: "http://localhost:9080/ssm_unit_war/brands",
                        data: this.brand_for_update
                    }).then( resp => {
                        // 判断响应数据是否为 success
                        if (resp.data.data === true) {
                            this.dialogVisibleUpdate = false;
                            this.selectAll();

                            this.$message({
                                showClose: true,
                                message: '恭喜你，修改成功',
                                type: 'success'
                            });
                        }
                        else{
                            this.$message({
                                showClose: true,
                                message: '删除失败，请检查信息',
                                type: 'error'
                            });
                        }
                    })
                },

                //添加数据
                addbrand(){
                    var _this=this;
                    axios({
                        method:"post",
                        url:"http://localhost:9080/ssm_unit_war/brands/insert",
                        data:_this.brand_for_insert
                    }).then(function (resp){
                        if(resp.data.data===true){
                            _this.dialogVisible=false;

                            //重新查询
                            _this.selectAll();
                            _this.$message({
                                message: '恭喜你，插入成功',
                                type: 'success'
                            });
                        }
                        else{
                            this.$message({
                                showClose: true,
                                message: '插入失败，请检查插入信息',
                                type: 'error'
                            });
                        }
                    })
                },
                //分页
                handleSizeChange(val) {
                    /*console.log(`每页 ${val} 条`);*/
                    this.each_page.pageSize=val;
                    this.selectAll();
                },
                handleCurrentChange(val) {
                    //console.log(`当前页: ${val}`);
                    this.each_page.currentPage=val;
                    this.selectAll();
                }
            },
            data() {
                return {
                    //被选中的id数组
                    selectIds:[],
                    //总记录数：
                    totalCount:400,
                    //对话框是否展示的数据
                    dialogVisible:false,
                    //表单数据
                    brand: {
                        status:null,
                        brandName: '',
                        companyName:'',
                        id:"",
                        ordered:"",
                        description:""
                    },
                    brand_for_update:{
                        status:null,
                        brandName: '',
                        companyName:'',
                        id:"",
                        ordered:"",
                        description:""
                    },
                    brand_for_insert:{
                        status:null,
                        brandName: '',
                        companyName:'',
                        id:"",
                        ordered:"",
                        description:""
                    },
                    //复选框选中数据集合
                    multipleSelection:[],
                    //表格的数据
                    tableData: [],
                    //修改框
                    dialogVisibleUpdate: false,

                    each_page:{
                        currentPage:1,
                        pageSize:7,
                        brand:{
                            status:-1,
                            brandName: '',
                            companyName:'',
                            id:"",
                            ordered:"",
                            description:""
                        }
                    }
                }
            }

        })

</script>
</body>
</html>